 
body {
	background:#3bb0ff;
	text-align:left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	font-size: 14px;
	font-family: verdana, arial, serif;
	color:#bbff00;
	scrollbar-face-color: #ffdead; 
	scrollbar-shadow-color: #990000; 
	scrollbar-highlight-color: #990000; 
	scrollbar-3dlight-color: #f5f5f5; 
	scrollbar-darkshadow-color: #f5f5f5; 
	scrollbar-track-color:#fff8dc;  
	scrollbar-arrow-color: #990000; 
	}
a {
	background: transparent;
	color:#000066;
	text-decoration:none;
	border-bottom:none;
	font-size:small;	
	}

a.img:hover {
	background: transparent;
	color:#ff69b4;
	border-bottom:none;	
	}

a:hover {
	background: transparent;
	color:#ff1493;
	border-bottom:1px dotted;
	}
a.menu {
	background: transparent;
	color:#000066;
	text-decoration:none;
	border-bottom:none;
	font-size:small;	
	}

a.menu:hover {
	background-color: #ffdead;
	color:#8b0000;
	border-bottom: none;
	}
P.head { 
	font-weight: bold; 
	font-size: small; 
	color: #0000ff;
	background: #fff8dc; 
	}

P.next {
	font-weight: normal; 
	border: ridge 4px; 
	background: #ffdead;
	color: #8b0000; 
	}

P.title {
	font-weight: bolder; 
	font-size: medium;
	border: ridge 2px; 
	background: #ff0000;
	color: #ff0000; 
	}

fieldset {
    padding: .5em;
    background: transparent;
    border: 1px double dashed #990000;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: .5em;
    }

fieldset legend {
    background-color: #ffdead;
    color: #00008b;	
    font-size: small;
    padding: .1ex .5ex;
    border: 2px double solid #990000;
    font-weight: bold;
    }

input, select, textarea {
	font-weight: bold;
	color: #2c2c2c;
	background: #ff9a00;
	border: ridge 2px; 
	border-color:#000000;
}

.bullet {
	list-style-type: circle;
	color:#ff0000;
	}

td.title {
	font-weight: bolder; 
	border: ridge 1px; 
	border-color:#990000;
	background: #ffdead;
	color: #990000; 
	}

div.main {
	margin:20px;
	padding:0;
	}
div.next {
	font-weight: normal; 
	border: ridge 4px; 
	background: #ffdead;
	color: #8b0000; 
	}

